.flex-container{
	background-color: white;
	height: 600px;
	width:	600px;
	margin-left: 200px;
	display: flex;
	border: 2px solid black;
	font-size: 30px;
	flex-direction: column;
	align-items: flex-end;
	text-align: center;
	color: white;
	
}

.rojo{
	background-color: red;
	width: 200px;
	height: 200px;
	border: 1px solid black;
	line-height: 200px;
	
}

.verde{
	width: 200px;
	height: 200px;
	border: 1px solid black;
	background-color: green;
	line-height: 200px;

}
.azul{
	width: 200px;
	height: 200px;
	border: 1px solid black;
	background-color: blue;
	line-height: 200px;
	
}
