.flex-container{
	background-color: white;
	height: 300px;
	width: 300px;
	display: flex;
	border-color: black;
	border-top-width: thick;
	border-right-width: thick;
	border-bottom-width: thick;
	border-left-width: thick;
	font-size: 30px;
	flex-direction: column;
	justify-content: right;
	align-items: stretch;
	color: white;
}
.rojo{
	/* position:static; */
	width: 100px;
	height: 100px;
	margin-right: 0px;
	margin-top: 0px;
	background-color: red;
	align-content: center;
	justify-content: center;


}
.verde{
	width: 100px;
	height: 100px;
	margin-right: 0px;
	margin-top: 1em;
	background-color: green;
	align-content: center;
	justify-content: center;

}
.azul{
	width: 100px;
	height: 100px;
	margin-right: 0px;
	margin-top: 1em;
	background-color: blue;
	align-content: center;
	justify-content: center;

}
